<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="py-3 mb-4">
    <span class="text-muted fw-light">مشاهده کاربر/</span>
    حساب کاربری
  </h4>
  <div class="row">
    <!-- User Sidebar -->
    <div class="col-xl-4 col-lg-5 col-md-5 order-0 order-md-0">
      <!-- User Card -->
      <div class="card mb-4">
        <div class="card-body">
          <div class="user-avatar-section">
            <div class="d-flex align-items-center flex-column">
              <img alt="آواتار کاربر" class="img-fluid rounded mb-3 pt-1 mt-4" height="100" src="/assets/img/avatars/14.png" width="100" />
              <div class="user-info text-center">
                <h4 class="mb-2"><%- student.firstName %> <%- student.lastName %></h4>
                <span class="badge bg-label-secondary mt-1">هنرجو</span>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-around flex-wrappt-3 pb-4 border-bottom"></div>
          <p class="mt-4 small text-uppercase text-muted">اطلاعات :</p>
          <div class="info-container">
            <ul class="list-unstyled">
              <li class="mb-2">
                <span class="fw-medium me-1">کد ملی :</span>
                <span><%- student.nationalCode %></span>
              </li>
              <li class="mb-2 pt-1">
                <span class="fw-medium me-1">تاریخ تولد : </span>
                <span><%- student.birthDay %></span>
              </li>
              <li class="mb-2 pt-1">
                <span class="fw-medium me-1">نام مربی :</span>
                <!-- <span class="badge bg-label-success">محمدرضا یاری</span> -->
                <span>محمدرضا یاری</span>
              </li>
              <li class="mb-2 pt-1">
                <span class="fw-medium me-1">نام باشگاه :</span>
                <span><%- student.club %></span>
              </li>
              <li class="mb-2 pt-1">
                <span class="fw-medium me-1">کمربند :</span>
                <span><%- student.belt.name %></span>
              </li>
              <li class="mb-2 pt-1">
                <span class="fw-medium me-1">تاریخ کمربند :</span>
                <span><%- student.belt.beltDate %></span>
              </li>
              <li class="mb-2 pt-1">
                <span class="fw-medium me-1">رده سنی :</span>
                <% if(student.ageGroups) { %>
                  <% for (const ageGroup of student.ageGroups) {%>
                    <span class="badge bg-label-dark"><%- ageGroup?.name %></span>
                  <%} %>
                <% } else { %>
                  <span class="badge bg-label-dark">شکوفه</span>
                <% } %>

              </li>
              <li class="mb-2 pt-1">
                <span class="fw-medium me-1">شارژ بانک اطلاعاتی : </span>
                <span><%- student.memberShipValidity.date %></span>
              </li>
            </ul>
            <div class="d-flex justify-content-center">
              <a class="btn btn-primary me-3" data-bs-target="#editUser" data-bs-toggle="modal" href="javascript:">ویرایش</a>
              <!-- <a class="btn btn-label-danger suspend-user" href="javascript:">مسدود سازی</a> -->
            </div>
          </div>
        </div>
      </div>
      <!-- /User Card -->
    </div>
    <!--/ User Sidebar -->
    <!-- User Content -->
    <div class="col-xl-8 col-lg-7 col-md-7 order-1 order-md-1">
      <!---- main  -->
      <div class="row">
        <div class="col-xl-6 col-lg-12 col-md-12">
          <div class="col-12">
            <% if(student.belt.nextBelt.status === "مانده") { %>
              <div class="card mb-4">
                <div class="card card-border-shadow-gray h-100">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-start">
                      <h5 class="card-title m-0 me-2">مانده تا کمربند <%- student.belt.nextBelt.name %></h5>
                      <div class="d-flex justify-content-center">
                        <sub class="pricing-duration mt-auto mb-2 text-muted fw-normal">
                          <%- student.belt.nextBelt.date %> 
                        </sub>
                      </div>
                    </div>
                    <ul class="ps-3 g-2 my-3"></ul>
                    <div class="d-flex justify-content-between align-items-center mb-1 fw-medium text-heading">
                      <span>روزهای باقی مانده</span>
                      <span><%- student.belt.nextBelt.percent %>٪</span>
                    </div>
                    <div class="progress mb-1" style="height: 8px">
                      <div
                        aria-valuemax="100"
                        aria-valuemin="0"
                        aria-valuenow="<%- student.belt.nextBelt.percent %>"
                        class="progress-bar progress-bar-striped <%- student.belt.nextBelt.percent < 30 ? "bg-danger" : student.belt.nextBelt.percent < 80 ? "bg-primary" : student.belt.nextBelt.percent <= 100 ? "bg-success" : "" %>"
                        role="progressbar"
                        style="width: <%- student.belt.nextBelt.percent %>%"
                      ></div>
                    </div>
                    <sub class="pricing-duration mt-auto mb-2 text-muted fw-normal">
  
                      <% if(student.belt.nextBelt.years){ %> <%- student.belt.nextBelt.years %> سال و <% } %> %>
                      <% if(student.belt.nextBelt.months){ %> <%- student.belt.nextBelt.months %> ماه و <% } %> %>
                      <% if(student.belt.nextBelt.days){ %> <%- student.belt.nextBelt.days %> روز <% } %> %>
                      <%- student.belt.nextBelt.status %>
  
                    </sub>
                  </div>
                </div>
              </div>
            <% } else if(student.belt.nextBelt.status === "گذشته") { %>
              <div class="card card-border-shadow-success h-100 mb-4">
                <div class="card-body">
                  <div class="text-center mb-2">
                      <svg id="emoji" width="100px" height="100px"  viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg">
                        <g id="color">
                          <polygon fill="#F1B31C" stroke="none" points="26.1808,20.1808 38.75,32.75 51.3192,45.3192 29.7894,54.2798 8.2597,63.2403 17.2202,41.7106"/>
                          <polygon fill="#FCEA2B" stroke="none" points="40,35 25.6924,20.6692 16.3914,42.5394 7.0905,64.4095"/>
                          <polygon fill="#EA5A47" stroke="none" points="15.2238,45.2849 26.2858,56.3469 20.7548,58.5984 12.9576,50.8012"/>
                          <polygon fill="#D22F27" stroke="none" points="17.3429,55.2475 20.7548,58.5984 26.2858,56.3469 21.4849,51.546"/>
                          <polygon fill="#EA5A47" stroke="none" points="20.8045,32.1625 27.5011,38.8591 39.2002,50.5583 32.9273,53.4217 24.7555,45.2498 18.1504,38.6447"/>
                          <polygon fill="#D22F27" stroke="none" points="26.5369,47.0312 32.9273,53.4216 39.2003,50.5582 31.3616,42.7197"/>
                          <ellipse cx="30.2951" cy="14.4579" rx="2" ry="1.9708" fill="#8967aa" stroke="none"/>
                          <ellipse cx="60.2951" cy="18.4579" rx="2" ry="1.9708" fill="#f1b31c" stroke="none"/>
                          <ellipse cx="57.2951" cy="39.4579" rx="2" ry="1.9708" fill="#d22f27" stroke="none"/>
                        </g>
                        <g id="hair"/>
                        <g id="skin"/>
                        <g id="skin-shadow"/>
                        <g id="line">
                          <polyline fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" points="50.6626,45.6395 50.8308,45.8076 28.9606,55.1086 7.0904,64.4096 16.3914,42.5394 25.6923,20.6692"/>
                          <polyline fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" points="25.801,20.7779 38.2616,33.2384 50.6626,45.6395"/>
                          <line x1="25.6923" x2="25.801" y1="20.6692" y2="20.7779" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/>
                          <path fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M46.4905,7.3671c0.2347,0.4487,0.4027,0.943,0.4897,1.473c0.451,2.7473-1.447,5.4141-4.2392,5.9565"/>
                          <path fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M42.9327,14.7763c-0.5049,0.0384-1.0133,0.1573-1.509,0.364c-2.5697,1.0713-3.828,4.093-2.8105,6.7492"/>
                          <path fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M61.7928,26.7168c-0.0987,0.4967-0.2778,0.987-0.5425,1.4544c-1.372,2.4225-4.5229,3.309-7.0378,1.98"/>
                          <path fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M54.3745,30.2558c-0.4173-0.2868-0.8878-0.513-1.4036-0.663c-2.6733-0.7775-5.5486,0.7867-6.4223,3.4936"/>
                        </g>
                      </svg>
                  </div>
                  <h5 class="text-center">وقت آزمون رسیده</h5>
                  <h6 class="text-center fst-italic">میتونی آزمون <span class="h5"><%- student.belt.nextBelt.name %></span> شرکت کنی</h6>
                </div>
              </div>
            <% } %>
          </div>
          
          <div class="col-12">
            <% if(student.sportsInsurance.status === "مانده") { %>
              <div class="card mb-4">
                <div class="card card-border-shadow-gray h-100">
                  <div class="card-body">

                      <div class="d-flex justify-content-between align-items-start">
                        <h5 class="card-title m-0 me-2">اعتبار بیمه ورزشی</h5>
                        <div class="d-flex justify-content-center">
                          <sub class="mt-auto mb-2 text-muted fw-normal">معتبر تا <%- student.sportsInsurance.date %></sub>
                        </div>
                      </div>
                      <ul class="ps-3 g-2 my-3"></ul>
                      <div class="d-flex justify-content-between align-items-center mb-1 fw-medium text-heading">
                        <span>روزهای باقی مانده</span>
                        <span><%- student.sportsInsurance.percent %>٪</span>
                      </div>
                      <div class="progress mb-1" style="height: 8px">
                        <div
                          aria-valuemax="100"
                          aria-valuemin="0"
                          aria-valuenow="<%- student.sportsInsurance.percent %>"
                          class="progress-bar progress-bar-striped <%- student.sportsInsurance.percent < 30 ? "bg-success" : student.sportsInsurance.percent < 80 ? "bg-primary" : student.sportsInsurance.percent <= 100 ? "bg-danger" : "" %> "
                          role="progressbar"
                          style="width: <%- student.sportsInsurance.percent %>%"
                        ></div>
                      </div>
    
                      <sub class="pricing-duration mt-auto mb-2 text-muted fw-normal">
    
                        <% if(student.sportsInsurance.years){ %> <%- student.sportsInsurance.years %> سال و <% } %> %>
                        <% if(student.sportsInsurance.months){ %> <%- student.sportsInsurance.months %> ماه و <% } %> %>
                        <% if(student.sportsInsurance.days){ %> <%- student.sportsInsurance.days %> روز <% } %> %>
                        <%- student.sportsInsurance.status %>
    
                      </sub>
                  </div>
                </div>
              </div>
            <% } else if(student.sportsInsurance.status === "گذشته") { %>
              <div class="card card-border-shadow-danger h-100 mb-4">
                <div class="card-body">
                  <div class="text-center mb-2">
                    <svg id="emoji" width="100px" height="100px" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg">
                      <g id="color">
                        <path fill="#ea5a47" stroke="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M36,11c-13.8066,0-25,11.1926-25,25c0,13.8066,11.1934,25,25,25c13.8065,0,25-11.1934,25-25C61,22.1926,49.8065,11,36,11z"/>
                        <path fill="#FFFFFF" stroke="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M55.5195,39.4297c0.1986-1.1263,0.3081-2.2831,0.3081-3.4659c0-1.171-0.1078-2.316-0.3014-3.4306H16.4738 c-0.1936,1.1146-0.3014,2.2596-0.3014,3.4306c0,1.1828,0.1095,2.3396,0.3081,3.4659H55.5195z"/>
                      </g>
                      <g id="hair"/>
                      <g id="skin"/>
                      <g id="skin-shadow"/>
                      <g id="line">
                        <path fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M36,11c-13.8066,0-25,11.1926-25,25c0,13.8066,11.1934,25,25,25c13.8065,0,25-11.1934,25-25C61,22.1926,49.8065,11,36,11z"/>
                        <path fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M55.5195,39.4297c0.1986-1.1263,0.3081-2.2831,0.3081-3.4659c0-1.171-0.1078-2.316-0.3014-3.4306H16.4738 c-0.1936,1.1146-0.3014,2.2596-0.3014,3.4306c0,1.1828,0.1095,2.3396,0.3081,3.4659H55.5195z"/>
                      </g>
                    </svg>
                    
                  </div>
                  <h5 class="text-center">اعتبار بیمه ورزشی به اتمام رسیده!</h6>
                  <h6 class="text-center fst-italic">برای تمدید به باشگاه مراجعه کنید</h6>
                </div>
              </div>
            <% } else { %>
              <div class="card card-border-shadow-danger h-100 mb-4">
                <div class="card-body">
                  <div class="text-center mb-2">
                    <svg id="emoji" width="100px" height="100px" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg">
                      <g id="color">
                        <path fill="#ea5a47" stroke="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M36,11c-13.8066,0-25,11.1926-25,25c0,13.8066,11.1934,25,25,25c13.8065,0,25-11.1934,25-25C61,22.1926,49.8065,11,36,11z"/>
                        <path fill="#FFFFFF" stroke="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M55.5195,39.4297c0.1986-1.1263,0.3081-2.2831,0.3081-3.4659c0-1.171-0.1078-2.316-0.3014-3.4306H16.4738 c-0.1936,1.1146-0.3014,2.2596-0.3014,3.4306c0,1.1828,0.1095,2.3396,0.3081,3.4659H55.5195z"/>
                      </g>
                      <g id="hair"/>
                      <g id="skin"/>
                      <g id="skin-shadow"/>
                      <g id="line">
                        <path fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M36,11c-13.8066,0-25,11.1926-25,25c0,13.8066,11.1934,25,25,25c13.8065,0,25-11.1934,25-25C61,22.1926,49.8065,11,36,11z"/>
                        <path fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M55.5195,39.4297c0.1986-1.1263,0.3081-2.2831,0.3081-3.4659c0-1.171-0.1078-2.316-0.3014-3.4306H16.4738 c-0.1936,1.1146-0.3014,2.2596-0.3014,3.4306c0,1.1828,0.1095,2.3396,0.3081,3.4659H55.5195z"/>
                      </g>
                    </svg>
                    
                  </div>
                  <h5 class="text-center">اطلاعات بیمه ثبت نشده!</h6>
                  <h6 class="text-center fst-italic">برای تمدید به باشگاه مراجعه کنید</h6>
                </div>
              </div>
            <% } %>

          </div>

          <div class="col-12">
            <% if(student.memberShipValidity.status === "مانده") { %>
              <div class="card card-border-shadow-success h-100 mb-4">
                <div class="card-body">
                  <div class="text-center mb-2">
                    <svg id="emoji" width="100px" height="100px" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg">
                      <g id="color">
                        <path fill="#b1cc33" d="m61.5 23.3-8.013-8.013-25.71 25.71-9.26-9.26-8.013 8.013 17.42 17.44z"/>
                      </g>
                      <g id="line">
                        <path fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="m10.5 39.76 17.42 17.44 33.58-33.89-8.013-8.013-25.71 25.71-9.26-9.26z"/>
                      </g>
                    </svg>
  
                  </div>
                  <h5 class="text-center">وضعیت شارژ بانک اطلاعاتی</h6>
                  <h6 class="text-center fst-italic">معتبر تا پایان سال <span class="h5"><%- student.memberShipValidity.date %></span></h6>
                </div>
              </div>
            <% } else if(student.memberShipValidity.status === "گذشته") { %>
              <div class="card card-border-shadow-danger h-100 mb-4">
                <div class="card-body">
                  <div class="text-center mb-2">
                    <svg id="emoji" width="100px" height="100px" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg">
                      <g id="color">
                        <path fill="#fcea2b" stroke="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M32.5222,13.005c0.6977-1.2046,1.9862-2.0244,3.4778-2.0244c1.4916,0,2.7801,0.8198,3.4778,2.0244l20.9678,41.9351 C60.7889,55.5339,61,56.2136,61,56.9483c0,2.2272-1.8051,4.0323-4.0323,4.0323l-41.9354,0.0173 C12.8051,60.9979,11,59.192,11,56.9657c0-0.7356,0.211-1.4145,0.5544-2.0083L32.5222,13.005"/>
                        <path fill="#FFFFFF" stroke="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M37.6129,47.2709c0,0.8907-0.7222,1.6129-1.6129,1.6129c-0.8907,0-1.6129-0.7222-1.6129-1.6129V23.8925 c0-0.8907,0.7222-1.6129,1.6129-1.6129c0.8907,0,1.6129,0.7222,1.6129,1.6129V47.2709z"/>
                        <circle cx="36" cy="54.529" r="1.6129" fill="#FFFFFF" stroke="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/>
                      </g>
                      <g id="hair"/>
                      <g id="skin"/>
                      <g id="skin-shadow"/>
                      <g id="line">
                        <path fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M32.5222,13.005c0.6977-1.2046,1.9862-2.0244,3.4778-2.0244c1.4916,0,2.7801,0.8198,3.4778,2.0244l20.9678,41.9351 C60.7889,55.5339,61,56.2136,61,56.9483c0,2.2272-1.8051,4.0323-4.0323,4.0323l-41.9354,0.0173 C12.8051,60.9979,11,59.192,11,56.9657c0-0.7356,0.211-1.4145,0.5544-2.0083L32.5222,13.005"/>
                        <path fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M37.6129,47.2709c0,0.8907-0.7222,1.6129-1.6129,1.6129c-0.8907,0-1.6129-0.7222-1.6129-1.6129V23.8925 c0-0.8907,0.7222-1.6129,1.6129-1.6129c0.8907,0,1.6129,0.7222,1.6129,1.6129V47.2709z"/>
                        <circle cx="36" cy="54.529" r="1.6129" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/>
                      </g>
                    </svg>
                  </div>
                  <h5 class="text-center">وضعیت شارژ بانک اطلاعاتی</h5>
                  <h6 class="text-center fst-italic">نیاز به <span class="h5"><%- student.memberShipValidity.years %></span> سال تمدید اعتبار داری</h6>
                </div>
              </div>
            <% } %>
          </div>
        </div>

        <div class="col-xl-6 col-lg-12 col-md-12">
          <div class="col-12">
            <% if(student?.listBeltExams.length > 0) { %>
              <div class="card mb-4">
                <div class="card card-border-shadow-primary h-100">
                  <h5 class="card-header">رویداد های پیش رو</h5>
                    <div class="card-body pb-0 pl-1">
                      <ul class="timeline mb-0">
                          <% for(const event of student.listBeltExams) { %>
                            <li class="timeline-item timeline-item-transparent" style="padding-right:1.5rem;">
                              <span class="timeline-point timeline-point-primary"></span>
                              <div class="timeline-event">
                                <div class="timeline-header mb-1">
                                  <h6 class="mb-0"><%- event.name %></h6>
                                </div>
                                <p class="mb-2">مهلت ثبت نام : <%- event.registerDate %></p>
                                <p class="mb-2">زمان برگزاری : <%- event.eventDate %></p>
                                <p class="mb-2">محل برگزاری : 
                                  <% for (const place of event.eventPlace) { %>
                                  <span class="badge bg-label-dark"><%- place %></span>
                                  <% } %>
                                </p>
                              </div>
                            </li>
                          <% } %>
                        </ul>
                      </div>
                    </div>
                </div>
              </div>

              <% } else { %>
                <div class="card card-border-shadow-danger h-100 mb-4">
                  <div class="card-body">
                    <div class="text-center mb-2">
                      <svg id="emoji" width="100px" height="100px" he viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg">
                        <g id="color">
                          <path fill="#ea5a47" d="m58.14 21.78-7.76-8.013-14.29 14.22-14.22-14.22-8.013 8.013 14.36 14.22-14.36 14.22 8.014 8.013 14.22-14.22 14.29 14.22 7.76-8.013-14.22-14.22z"/>
                        </g>
                        <g id="hair"/>
                        <g id="skin"/>
                        <g id="skin-shadow"/>
                        <g id="line">
                          <path fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="m58.14 21.78-7.76-8.013-14.29 14.22-14.22-14.22-8.013 8.013 14.35 14.22-14.35 14.22 8.014 8.013 14.22-14.22 14.29 14.22 7.76-8.013-14.22-14.22z"/>
                        </g>
                      </svg>
                      
                    </div>
                    <h5 class="text-center">در حال حاضر رویدادی وجود ندارد</h5>
                  </div>
                </div>
              <% } %>
        </div>

        
      </div>
      <!-- /Activity Timeline -->
    </div>
    <!--/ User Content -->
  </div>
  <!-- Modal -->
  <!-- Edit User Modal -->
  <div aria-hidden="true" class="modal fade" id="editUser" tabindex="-1">
    <div class="modal-dialog modal-lg modal-simple modal-edit-user">
      <div class="modal-content p-3 p-md-5">
        <div class="modal-body">
          <button aria-label="بستن" class="btn-close" data-bs-dismiss="modal" type="button"></button>
          <div class="text-center mb-4">
            <h3 class="mb-2">ویرایش اطلاعات کاربر</h3>
            <p class="text-muted">به روزرسانی اطلاعات کاربر یک ممیزی حریم خصوصی دریافت می کند.</p>
          </div>
          <form class="row g-3" id="editUserForm" onsubmit="return false">
            <div class="col-12 col-md-6">
              <label class="form-label" for="modalEditUserFirstName">نام کوچک</label>
              <input class="form-control" id="modalEditUserFirstName" name="modalEditUserFirstName" placeholder="امیر" type="text" />
            </div>
            <div class="col-12 col-md-6">
              <label class="form-label" for="modalEditUserLastName">نام خانوادگی</label>
              <input class="form-control" id="modalEditUserLastName" name="modalEditUserLastName" placeholder="مقصودلو" type="text" />
            </div>
            <div class="col-12">
              <label class="form-label" for="modalEditUserName">نام کاربری</label>
              <input class="form-control" id="modalEditUserName" name="modalEditUserName" placeholder="john.doe.007" type="text" />
            </div>
            <div class="col-12 col-md-6">
              <label class="form-label" for="modalEditUserEmail">ایمیل</label>
              <input class="form-control" id="modalEditUserEmail" name="modalEditUserEmail" placeholder="example@domain.com" type="text" />
            </div>
            <div class="col-12 col-md-6">
              <label class="form-label" for="modalEditUserStatus">وضعیت</label>
              <select aria-label="نمونه انتخاب پیش فرض" class="select2 form-select" id="modalEditUserStatus" name="modalEditUserStatus">
                <option selected>وضعیت</option>
                <option value="1">فعال</option>
                <option value="2">غیر فعال</option>
                <option value="3">معلق</option>
              </select>
            </div>
            <div class="col-12 col-md-6">
              <label class="form-label" for="modalEditTaxID">شناسه مالیاتی</label>
              <input class="form-control modal-edit-tax-id" id="modalEditTaxID" name="modalEditTaxID" placeholder="123 456 7890" type="text" />
            </div>
            <div class="col-12 col-md-6">
              <label class="form-label" for="modalEditUserPhone">شماره تلفن</label>
              <div class="input-group">
                <input class="form-control phone-number-mask ltr" id="modalEditUserPhone" name="modalEditUserPhone" placeholder="913 000 0000" type="text" />
                <span class="input-group-text">IR (+98)</span>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <label class="form-label" for="modalEditUserLanguage">زبان</label>
              <select class="select2 form-select" id="modalEditUserLanguage" multiple name="modalEditUserLanguage">
                <option value="">انتخاب کنید</option>
                <option selected value="english">انگلیسی</option>
                <option value="spanish">اسپانیایی</option>
                <option value="french">فرانسوی</option>
                <option value="german">آلمانی</option>
                <option value="dutch">هلندی</option>
                <option value="hebrew">عبری</option>
                <option value="sanskrit">سانسکریت</option>
                <option value="hindi">هندی</option>
              </select>
            </div>
            <div class="col-12 col-md-6">
              <label class="form-label" for="modalEditUserCountry">کشور</label>
              <select class="select2 form-select" data-allow-clear="true" id="modalEditUserCountry" name="modalEditUserCountry">
                <option value="">انتخاب کنید</option>
                <option value="Australia">استرالیا</option>
                <option value="Bangladesh">بنگلادش</option>
                <option value="Belarus">بلاروس</option>
                <option value="Brazil">برزیل</option>
                <option value="Canada">کانادا</option>
                <option value="China">چین</option>
                <option value="France">فرانسه</option>
                <option value="Germany">آلمان</option>
                <option value="India">هندوستان</option>
                <option value="Indonesia">اندونزی</option>
                <option value="Israel">اسرائيل</option>
                <option value="Italy">ایتالیا</option>
                <option value="Japan">ژاپن</option>
                <option value="Korea">جمهوری کره</option>
                <option value="Mexico">مکزیک</option>
                <option value="Philippines">فیلیپین</option>
                <option value="Russia">فدراسیون روسیه</option>
                <option value="South Africa">آفریقای جنوبی</option>
                <option value="Thailand">تایلند</option>
                <option value="Turkey">ترکیه</option>
                <option value="Ukraine">اوکراین</option>
                <option value="United Arab Emirates">امارات متحده عربی</option>
                <option value="United Kingdom">انگلستان</option>
                <option value="United States">ایالات متحده</option>
              </select>
            </div>
            <div class="col-12">
              <label class="switch">
                <input class="switch-input" type="checkbox" />
                <span class="switch-toggle-slider">
                  <span class="switch-on"></span>
                  <span class="switch-off"></span>
                </span>
                <span class="switch-label">به عنوان آدرس صورتحساب استفاده شود؟</span>
              </label>
            </div>
            <div class="col-12 text-center">
              <button class="btn btn-primary me-sm-3 me-1" type="submit">ارسال</button>
              <button aria-label="بستن" class="btn btn-label-secondary" data-bs-dismiss="modal" type="reset">لغو</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--/ Edit User Modal -->
  <!-- Add New Credit Card Modal -->
  <div aria-hidden="true" class="modal fade" id="upgradePlanModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-simple modal-upgrade-plan">
      <div class="modal-content p-3 p-md-5">
        <div class="modal-body">
          <button aria-label="بستن" class="btn-close" data-bs-dismiss="modal" type="button"></button>
          <div class="text-center mb-4">
            <h3 class="mb-2">خرید اشتراک</h3>
            <p>اشتراک مناسب کاربر را انتخاب کنید.</p>
          </div>
          <form class="row g-3" id="upgradePlanForm" onsubmit="return false">
            <div class="col-sm-8">
              <label class="form-label" for="choosePlan">اشتراک را انتخاب کنید</label>
              <select aria-label="طرح را انتخاب کنید" class="form-select" id="choosePlan" name="choosePlan">
                <option selected>انتخاب اشتراک</option>
                <option value="standard">اقتصادی - 99 ءتء در ماه</option>
                <option value="exclusive">استاندارد - 249 ءتء در ماه</option>
                <option value="Enterprise">تجاری - 499 ءتء در ماه</option>
              </select>
            </div>
            <div class="col-sm-4 d-flex align-items-end">
              <button class="btn btn-primary" type="submit">خرید اشتراک</button>
            </div>
          </form>
        </div>
        <hr class="mx-md-n5 mx-n3" />
        <div class="modal-body">
          <p class="mb-0">اشتراک فعلی استاندارد است</p>
          <div class="d-flex justify-content-between align-items-center flex-wrap">
            <div class="d-flex justify-content-center me-2 mt-2">
              <sup class="h6 pricing-currency pt-1 mt-3 mb-0 me-1 text-primary">ءتء</sup>
              <h1 class="display-5 mb-0 text-primary" style="line-height: 80%">99</h1>
              <sub class="h6 pricing-duration mt-auto mb-2 text-muted">درماه</sub>
            </div>
            <button class="btn btn-label-danger cancel-subscription mt-3">لغو اشتراک</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ Add New Credit Card Modal -->
  <!-- /Modal -->
</div>
